[submodule "2K-3S-BGT"]
path = 2K-3S-BGT
url = https://github.com/liudvis/2K-3S-BGT
[submodule "hash-generatorius"]
path = hash-generatorius
url = https://github.com/eimantaskat/hash-generatorius
[submodule "BlockChainsExercises"]
path = BlockChainsExercises
url = https://github.com/Hex2424/BlockChainsExercises
[submodule "Blockchain-Pratybos"]
path = Blockchain-Pratybos
url = https://github.com/DeividasRo/Blockchain-Pratybos
[submodule "hash-generator"]
path = hash-generator
url = https://github.com/tmneth/hash-generator
